#top-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  background-color: white;
  display: block;
}

@media screen and (max-width: 1407px){
.container.is-fullhd:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1344px;
}
}
@media screen and (min-width: 1216px){
.container:not(.is-max-desktop) {
    max-width: 1152px;
}
.px-6 {
    padding-right: 1.6rem !important;
}
.pl-6, .px-6 {
    padding-left: 1.6rem !important;
}
.pt-6 {
    padding-top: 1.6rem !important;
}
}
@media screen and (min-width: 1024px){
.container {
    max-width: 960px;
}
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}