/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Basic&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  background: #010314;
  overflow-x: hidden;
  /* Disable horizontal scroll on the body */
}

/* Common CSS (Almost all pages)  */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.SectionHeading {

  background: linear-gradient(267deg,
      #00f0ff 4.01%,
      #5200ff 57.55%,
      #ff2df7 114.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-family: Aldrich;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  margin: 25px 0;
}

.SectionHeading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  /* Adjust this value to control the distance of the underline from the text */
  width: 100%;
  height: 3px;
  /* Adjust this value to control the thickness of the underline */
  border-radius: 50px;
  background: linear-gradient(267deg,
      #00f0ff 4.01%,
      #5200ff 57.55%,
      #ff2df7 114.97%);
}

/* Parnters Section  */
.scroll {
  position: relative;
  display: flex;
  width: 70%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.scroll div span {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  animation: shimmer 2s infinite linear;
}

.scroll div span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right,
      transparent 0%,
      #ffffff1d 50%,
      transparent 100%);
  animation: shimmer-gradient 2s infinite linear;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes shimmer-gradient {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(150%);
  }
}

.scroll div span:hover {
  background: #6f33ee;
  cursor: pointer;
}

.imgBox div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBox img {
  max-width: 200px;
  scale: 0.8;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .scroll {
    width: 100%;
  }

  .imgBox img {
    max-width: 150px;
  }
}

/* stats Section  */
.stats {
  font-family: Archivo;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
}

.stats .grid div {
  text-align: left;
}

.stats .grid div {
  color: transparent;
  background: linear-gradient(97deg, #fff -31.45%, #b794fc 91.35%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Benefits section */
.benefits-section {
  margin: 15px 0;
}

.benefits-section h2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 80% */
  margin: 3% 0;
}

@media (max-width: 767px) {
  .benefits-section h2 {
    font-size: 24px;
    /* Adjust font size for smaller screens */
    width: 354px;
    margin: 3% 0;
    line-height: 24px;
    /* Adjust line height for smaller screens */
  }
}

.benefits-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 18px;
  border: 2px solid rgba(255, 255, 255, 0.38);
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 100%);
  width: 272px;
  height: 402px;
}

.benefits-card {
  width: 100%;
}

@media (min-width: 768px) {
  .benefits-card {
    width: auto;
    /* Reset width to auto for desktop */
  }
}

.card-icon {
  display: flex;
  width: 67px;
  height: 67px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 4px solid rgba(255, 255, 255, 0.36);
  background: linear-gradient(180deg, #362561 0%, #24096a 100%);
}

.benefits-heading {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 39.245px;
  letter-spacing: -0.38px;
}

.benefits-content {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22.4px;
  letter-spacing: -0.38px;
  width: 238px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center vertically */
}

.about-section {
  width: 80%;
  padding: 0 112px;
  display: flex;
  justify-content: space-between;
  /* Horizontally align content and image */
  align-items: center;
  /* Vertically center content and image */
}

.about-section .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.about-section .content .content-heading {
  width: 460px;
  color: #fff;
  font-family: Actor;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  /* 136.842% */
  letter-spacing: 0.76px;
  text-transform: capitalize;
  text-align: left;
}

.about-section .content .content-heading span {
  color: #fff;
  font-family: Aldrich;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
}

.about-section .content .about-content {
  width: 528px;
  height: 210px;
  color: #989898;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  /* 161.111% */
  letter-spacing: 0.5px;
  text-align: left;
}

.about-section .content .about-content b {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.5px;
}

.about-section .content .btn-knowmore {
  border-radius: 100px;
  border: 1px solid #fff;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 20px 40px;
  font-size: 20px;
  height: 70px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.about-section .content .btn-knowmore:hover {
  background: linear-gradient(267deg,
      #00eeff2e 4.01%,
      #5200ff2e 57.55%,
      #ff2df72e 114.97%);
  color: #ffffff;
}

.about-section .content .btn-knowmore:active {
  transform: scale(0.95);
}

.about-section .img {
  height: 502px;
}

.about-section .img img {
  width: 100%;
  /* Adjust the width as needed */
  height: 100%;
  /* Automatically adjust height to maintain aspect ratio */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    /* Change to single column layout */
    align-items: center;
    /* Center content horizontally */
    padding: 0 20px;
    /* Adjust padding */
  }

  .about-section .content .content-heading {
    width: auto;
    /* Adjust width for variable content */
    font-size: 28px;
    /* Decrease font size for smaller screens */
    line-height: 38px;
    /* Decrease line height */
    text-align: center;
    /* Center text */
  }

  .about-section .content .content-heading span {
    font-size: 24px;
    /* Decrease font size for smaller screens */
  }

  .about-section .content .about-content {
    width: auto;
    /* Adjust width for variable content */
    font-size: 16px;
    /* Decrease font size for smaller screens */
    line-height: 24px;
    /* Decrease line height */
    text-align: center;
    /* Center text */
  }

  .about-section .content .btn-knowmore {
    font-size: 16px;
    /* Decrease font size for smaller screens */
    padding: 15px 30px;
    /* Decrease padding */
    height: auto;
    /* Allow button height to adjust based on content */
  }

  .about-section .img {
    width: 100%;
    /* Adjust width for smaller screens */
    margin-top: 20px;
    /* Add some margin between content and image */
  }
}

/* Hero Section */
.hero {
  border-radius: 0 0 50px 50px;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    217.23% 100.08% at 50% 18.33%,
    rgba(0, 0, 0, 0) 21.67%,
    #6f33ee 68.6%,
    #fff 100%
  );
}

.hero-container {
  border-radius: 0 0 50px 50px;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.hero-main {
  margin-top: 10rem;
}

.hero-developers {
  background: linear-gradient(90deg, #ec2aed 0%, #4ba1fc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Aldrich;
  text-align: center;
}

.hero-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-para-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.hero-para {
  font-family: "Aldrich";
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.72px;
  max-width: 850px;
  color: #ffffff;
  font-size: 18px;
}

.hero-join {
  border-radius: 99px;
  border: 2px solid rgba(255, 255, 255, 0.411);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.03) 59.5%,
    rgba(255, 255, 255, 0.00) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  width: 50%;
  padding: 0px 54px;
}

.hero-join span {
  color: #d9d9d9;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 39.245px;
  letter-spacing: -0.38px;
  text-align: center;
}

.hero-powerful {
  font-family: "Aldrich";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  font-size: 55px;
}

.btn-hero {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.btn-blog,
.btn-started {
  border-radius: 100px;
  width: fit-content;
  display: flex;
  color: #fff;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-blog {
  padding: 20px;
  border: 2px solid #fff;
}

.btn-started {
  padding: 2px;
  background: linear-gradient(98deg, #ff00e5 0%, #7241ff 49.86%, #3e00ff 99.73%);
}

.btn-started div {
  padding: 20px;
  border-radius: 100px;
  background: #0a082b;
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
  .hero {
    height: 80vh;
  }

  .hero-main {
    margin-top: 5rem;
  }

  .hero-join {
    width: 80%;
    padding: 0px 20px;
  }

  .hero-join span {
    font-size: 14px;
  }

  .hero-para {
    font-size: 14px;
    max-width: 80%;
  }

  .hero-powerful {
    font-size: 40px;
  }
}
